.txt {
    color: blue;
}
.box{
    height: 100px;
    width:500px; 
    background: magenta;
    gap: 15px; 
    margin-top:10px;
    border: 2px solid black;
}

.para{
    text-align: center;
    font-weight: 800 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn2{
    background-color: blue;
    height: 100px;
    width:500px; 
    border: none;
    color:white;
}
